@media screen and (max-width: 899px) {
  .contact-main-wrapper {
    .form-info-wrapper {
      grid-template-columns: none;
      grid-template-rows: 1fr 0.5fr;

      .form-wrapper {
      }
      .info-wrapper {
        .get-quote {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          a {
          }
          .button {
            justify-self: center;
          }
        }
      }
    }    
  }
}

