.home-main-wrapper{
   .some-categories-wrapper{
      background-color: #ecf0f1;
      padding-top: 60px;
      padding-bottom: 40px;

      .title h1{
         padding-bottom: 20px;
         text-align: center;
         color: #273cb3;
         font-size: 2.5em;
         font-family: 'Heebo', sans-serif;   
      }

      .categories{
         display: flex;
         justify-content: space-around;
         align-items: center;      
   
         .category{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
   
         img{
            border-radius: 3px;
            width: 20vw;
            height: 19vh;
            transition: transform 0.3s;
   
            &:hover{
               -ms-transform: scale(1.1); /* IE 9 */
               -webkit-transform: scale(1.1); /* Safari 3-8 */
               transform: scale(1.1); 
            }
         }
   
         p{
            color: #302f2f;
         }
   
         a{
            text-decoration: none;
            color: #cc2f2f;
            transition: 0.3s ease-in-out;
   
            &:hover{            
               color: black;
            }
         }   
      }
   }

   .hero-content-wrapper{
      .contractors-info{
         padding-top: 80px;
         padding-bottom: 60px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .main-title h1{
            font-size: 3em;
            color: #1452c5; 
            font-family: 'Heebo', sans-serif;
            font-weight: 900;
         }

         .title p{
            font-size: 1.8em;
         }

         .hero-description{
            padding: 0px 120px;

            p{
               font-size: 1.3em;
               color: #545454;
            }
         }
      }

      .virtual-budget-consultation{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding-bottom: 110px;

         .title h2{
            font-size: 1.8em;
            color: #1452c5;
         }

         .schedule-link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            a{
               text-decoration: none;
               color: #cc2f2f ;
               font-size: 1.2em;
               transition: 0.3s ease-in-out;

               &:hover{                 
                  color: black;
               }
            }
         }

         button{
            background-color: #273cb3;
            border: 1px solid #273cb3;
            padding: 20px 60px;
            border-radius: 5px;
            color: whitesmoke;
            font-size: 1.3em;
            font-family: inherit;
            outline: none;
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .icon{
               margin-right: 10px;
               font-size: 1.6em;
            }

            &:hover{
               background-color: #5762a3;
               border: 1px solid #5762a3;
               cursor: pointer;
            }

            &:active {
               box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
            }
         }
      }

      .hero-image-wrapper{
         background-image: url(../components/home/content/lobby-6.jpg);
         padding: 100px;
         height: 50vh;
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover; 
         position: relative; 
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         &:before{
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.4);
         }
         

         .title h1{
            color: #fff; 
            font-size: 3.5em;
            position: relative;
            font-family: 'Heebo', sans-serif;    
            font-weight: 900;
         }

         .description{
            padding: 0px 60px;
            p{
               color: #fff;
               font-size: 1.5em;
               font-weight: bold;
               position: relative;
               font-family: inherit;
            }
         }

         .button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 380px;
            height: 55px;
            position: relative;
            border: 1.5px solid whitesmoke;
            border-radius: 5px;
            transition: 0.3s ease-in-out;

            p{
               font-size: 1.5em;
               color: whitesmoke;
               font-weight: bold;
            }

            &:hover{
               cursor: pointer;
               background-color: #1452c5;
               border: 1.5px solid #1452c5;

               p{
                  color: whitesmoke;
               }
            }
         }
      }      

      .brands-wrapper{    
         margin-top: 70px;     
         text-align: center;

         .title h2{
            margin-bottom: 40px;
            color: #1452c5;
         }

         .brand-img-wrapper{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 90px;

            .img img{
               width: 12vw;
               height: 12vh;
               border-radius: 5px;
            }
         }
      }
   }
}