.kitchens-main-wrapper{
   .title-img{
      background-image: url(../components/kitchens/images/kitchen003.jpg);
      padding: 100px;
      height: 35vh;      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
      .title{         
         h1{
            color: whitesmoke;
            font-size: 3em;
         }
      }
   }

   .contractors-info{
      background-color: #ecf0f1;
      padding-top: 80px;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;     

      .title h2{
         font-size: 1.8em;
      }

      .description{
         padding: 0px 120px;

         p{
            font-size: 1.3em;
            color: #545454;
         }
      }
   }

   .squares-wrapper{
      display: flex;
      justify-content: center;

      .squares{
         width: 1200px;
   
         .square{
            padding-top: 60px;
            padding-bottom: 60px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            // margin-top: -1px;
   
            .img-wrapper img{
               width: 40vw;
               height: 40vh;
               object-fit: cover;
            }
   
            .square-text-wrapper{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               padding: 0px 42px;
   
               h1{
                  color: #be58dd;
               }
            }
         }
      }
   }

   .get-quote{
      background-color: #ecf0f1;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      justify-content: center;

      a{
         text-decoration: none;
      }

      .button{     
         width: 200px;
         height: 55px;          
         background-color: #273cb3;
         border: 1px solid #273cb3;
         padding: 1.2px 90px;
         border-radius: 5px;
         color: whitesmoke;
         font-size: 1.5em;
         font-family: inherit;
         outline: none;
         transition: 0.3s ease-in-out;  
         display: flex;     
         justify-content: center;
         align-items: center;       

         .icon{
            margin-right: 15px;
            font-size: 1em;
         }

         &:hover{
            background-color: #5762a3;
            border: 1px solid #5762a3;
            cursor: pointer;
         }

         &:active {
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
         }
      }
   }
}