.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
}
.leftColumn {
  display: flex;
  justify-content: center;

  img{
    width: 10vw;
    height: 7vh;
 }
}
.rightColumn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 1.2rem;
  border: none;
}
.dropbtn:hover {
  color: blue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 0.5rem solid blue;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}