.portfolio-main-wrapper{
   .title-img{
      background-image: url(../components/kitchens/images/kitchen003.jpg);
      padding: 100px;
      height: 35vh;      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

      &:before{
         content:'';
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: rgba(0,0,0,0.4);
      }
   
      .title{         
         h1{
            color: #fff; 
            font-size: 3em;
            position: relative;
            font-family: 'Heebo', sans-serif;    
            font-weight: 900; 
         }
      }
   }

   .squares-wrapper{
      padding: 40px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      

      .square{
         margin-top: 60px;
         padding: 5px;
         text-align: center;        

         .img{
            img{
               border-radius: 3px;
               width: 40vw;
               height: 50vh;
               transition: transform 0.3s;
      
               &:hover{
                  -ms-transform: scale(1.05); /* IE 9 */
                  -webkit-transform: scale(1.05); /* Safari 3-8 */
                  transform: scale(1.05); 
               }
            }            
         }

         .read-more{
            margin-top: 7px;  
            a{                        
               text-decoration: none;
               color: #cc2f2f;
               font-size: 1.5em;
               transition: 0.3s ease-in-out;
      
               &:hover{            
                  color: black;
               }
            }  
         }
      }
   }

   .brands-wrapper{    
      padding: 50px 0px 70px 0px; 
      background-color: #ecf0f1;    
      text-align: center;

      .title h2{
         margin-bottom: 40px;
         color: #1452c5;
      }

      .brand-img-wrapper{
         display: flex;
         justify-content: space-around;
         align-items: center;         

         .img img{
            width: 12vw;
            height: 12vh;
            border-radius: 5px;
         }
      }
   }
}