.quoteWrapper {
  .quoteHeader {
    background-color: #ecf0f1;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    .title {
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 1.3em;
        color: #1452c5;
        margin-right: 15px;
      }
      h1 {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: "Heebo", sans-serif;
        color: black;
        font-size: 1.5em;
      }
    }
  }
  .quoteBody {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;

    .quoteLeft {
      display: block;
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 0em;
      width: 100%;
      h1 {
        color: #1452c5;
        font-weight: bold;
        text-align: center;
      }
      .quoteForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        width: auto;
        margin: 0px;

        .formGroup {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
          margin-bottom: 15px;
          width: 70%;
          input {
            font-size: 1.2em;
            font-family: inherit;
            color: inherit;
            padding: 0.5em 1.4em;
            border-radius: 3px;
            border: 1px solid #11122b;
            width: 85%;
            display: block;
            transition: all 0.3s;
            option {
              font-size: 1rem;
            }
          }
          &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border: 2px solid #1452c5;
          }
          select {
            font-size: 1.2em;
            font-family: inherit;
            color: inherit;
            padding: 0.5em 1.4em;
            border-radius: 3px;
            border: 1px solid #11122b;
            width: 93%;
            display: block;
            transition: all 0.3s;
          }
          textarea {
            height: 15rem;
            width: 85%;
            font-size: 1.2em;
            font-family: inherit;
            padding: 1.5em;
          }
          &:focus {
            outline: none;
            box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
            border: 2px solid #1452c5;
          }
          input::-webkit-input-placeholder,
          textarea::-webkit-input-placeholder {
            color: #11122b;
          }
          input:focus::-webkit-input-placeholder,
          textarea:focus::-webkit-input-placeholder {
            color: transparent;
          }

          label {
            font-size: 1em;
            font-weight: 700;
            margin-left: 2rem;
            display: block;
            transition: all 0.3s;
            color: #1452c5;
            visibility: hidden;
            opacity: 0;
          }
          input:focus + label,
          textarea:focus + label {
            opacity: 1;
            visibility: visible;
            transform: translateY(1rem);
          }

          button {
            background-color: #273cb3;
            color: whitesmoke;
            font-size: 1.5em;
            font-family: inherit;
            padding: 15px 80px;
            border: 1px solid #273cb3;
            border-radius: 5px;
            outline: none;
            transition: 0.3s ease-in-out;
            align-self: center;

            width: 50%;

            &:hover {
              cursor: pointer;
              background-color: #5762a3;
              border: 1px solid #5762a3;
            }

            &:active {
              box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
            }
          }
        }
        .centerBtn {
          display: flex;
          justify-content: center;
          margin-top: 30px;

          .btn {
            background-color: #273cb3;
            color: whitesmoke;
            font-size: 1.5em;
            font-family: inherit;
            padding: 15px 80px;
            border: 1px solid #273cb3;
            border-radius: 5px;
            outline: none;
            transition: 0.3s ease-in-out;

            &:hover {
              cursor: pointer;
              background-color: #5762a3;
              border: 1px solid #5762a3;
            }

            &:active {
              box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
    .quoteRight {
      margin-left: 1em;
      margin-right: 1em;
      .rightWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
      }

      .title {
        h2 {
          text-align: left;
          color: #1452c5;
          font-weight: bold;
          font-size: 2em;
        }
        p {
          font-size: 1.8em;
        }
      }
      .phone-number {
        font-size: 1.8em;
        text-align: center;
        font-weight: bolder;
        color: #1452c5;
      }
      .email {
        font-size: 1.8em;
        text-align: center;
        font-weight: bolder;
      }
    }
  }
}
