.sign-up-newsletter-wrapper{
   background-color: #1452c5;
   width: 100%;
   padding: 80px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

   .title-icon{
      display: flex;
      justify-content: center;
      align-items: center;

      .icon{
         margin-right: 15px;
         color: whitesmoke;
         font-size: 2.5em;
      }

      h2{
         color: whitesmoke;
         font-size: 2.5em;
      }
   }

   .input-button-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;

      input{
         font-size: 1.2em;
         width: 350px;
         height: 60px;
         font-family: inherit;
         color: inherit;
         border-radius: 5px;
         border: 1px solid #1452c5;
         padding: 0px 20px;

         &:focus{
            outline: none;            
            border: 1px solid #1452c5;
         }
      }

      button{
         background-color: #1f3f8a;
         font-size: 1.2em;
         font-family: inherit;
         color: whitesmoke;
         width: 350px;
         height: 60px;
         outline: none;
         border-radius: 5px;
         border: 1px solid #1452c5;
         transition: 0.3s ease-in-out;

         &:hover{
            cursor: pointer;
            background-color: #071f57;
         }

         &:active {
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
         }
      }

      .name{
         margin-right: 10px;               
      }

      .email{
         margin-right: 10px; 
      }
   }
}

@media (max-width: 899px){
   .sign-up-newsletter-wrapper {
     justify-content: center;
     align-items: center;

     .title-icon {
       justify-content: center;
       width: 100%;

       .icon{
          font-size: 2m;
       }

       h2{
         font-size: 2em;
       }
     }

     .input-button-wrapper {
       flex-direction: column;
       width: 100%;
 
       .name {
         display: flex;
         flex-direction: row;
         justify-content: center;
         width: 100%;
       }

       .email {
         display: flex;
         flex-direction: row;
         justify-content: center;
         width: 100%;
       }

       .button {
         display: flex;
         flex-direction: row;
         justify-content: center;
         width: 100%;
         margin-top: 30px;
       }
     }
   }
 }